body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  line-height: 24px;
  font-family: 'Rubik','Montserrat', sans-serif;
  color: #373a3c;
  overflow-x: hidden;
  text-shadow: 1px 1px 1px rgba(0,0,0,.004);
  background-color:#fafafa;

}

body {
	-webkit-backface-visibility: hidden;
}
body {
	margin: 0;
}
body {
	line-height: 1;
}
a {
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	outline:none !important;
	transition: all 0.3s ease-in-out;
}
nav {
  position: fixed;
  top: 0;
  z-index: 999;
  background: #16C98D;
  box-shadow: 0 1px 3px 0 hsla(0,0%,84%,.8);
}

nav .brand-logo, nav ul a  {
	color: #fff;
}

nav .brand-logo {
  margin: 9px 5px 0px 12px;
}

nav .brand-logo img {
  width: 45px;
  height: 45px;
}

nav {
	color: #fff;
}

nav .nav-wrapper ul li a {
  font-family: 'Montserrat','Source Sans Pro', sans-serif;
	  font-weight:400;
}
.fixed-top {
	position:fixed;
	top:0;
}

.main-app {
  margin-top: 69px;
}

.card {
 box-shadow: 0 1px 3px 0 hsla(0,0%,81%,.45);
 border:1px solid #dddddd;
      margin-left: 0.75rem !important;
     margin-right: 0.75rem !important;
}



.card-start {
	height:330px;
}


.card .card-content {
	padding:9px;
}

.card .card-image {
	overflow:hidden;
	max-height:180px;
}

.card .card-content .card-title {
	font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	margin: 3px 0 3px 0;
    padding: 0 0 0.5em;
	line-height:1.08em;
	color:#2a3754 !important;
}




.card .card-content .card-title:hover {
  color:#16C98D !important;
}


.card-reveal {
  padding: 3px 20px 20px 20px !important;
}

.card-reveal .close-icon {
    position: fixed;
    right: 0;
    padding: 9px;
}

.card-reveal .card-title {
  font-size: 1.1em;
  font-weight: 500;
}

.card-reveal .card-title {
  margin: 9px 3px 9px 3px;
}


.card-reveal i {
  font-size: 2em !important;
}

.read-more  i {
  font-size: 1.2em !important;
      vertical-align: middle;
      float: right;
      margin-top: 9px;
}

.read-more {
  width: 100%;
    text-align: center;
    color: #fff;
    background-color: #FF0A5E !important;

}

.card-reveal p {
  font-size: 1em;
  line-height: 1.2em;
  font-family: 'Montserrat';
}

.tags {
	border-top : 1px solid #f0f4f5;
}

.chip {
	margin-top:9px;
	background-color:#f0f4f5;
}

.time-ago {
	font-size:0.9em !important;
	margin-top:21px;
}








@media only screen and (max-width: 768px){
.hide-small {
    display: none !important;
}
.nav-wrapper{
	height: 64px !important;
}
nav .brand-logo {
  margin: 12px 0px 0px 0px;
}
.main-app {
  margin-top: 64px;
}

}
